<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683728813647-r4qfpumc1jrptkfjhmqhouegs55l1pcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683728813647-r4qfpumc1jrptkfjhmqhouegs55l1pcj</string>
	<key>API_KEY</key>
	<string>AIzaSyAEZnPC5C9ySshDKiyoXoax_Mh2QCDnE-o</string>
	<key>GCM_SENDER_ID</key>
	<string>683728813647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naga.EasyTodos</string>
	<key>PROJECT_ID</key>
	<string>easy-todo-ffcb3</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-todo-ffcb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683728813647:ios:483940aa30ed8e0553f43a</string>
</dict>
</plist>